<h1>Editing voltage</h1>

<% form_for(@voltage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :voltage %><br />
    <%= f.text_field :voltage %>
  </p>
  <p>
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </p>
  <p>
    <%= f.label :sampled_at %><br />
    <%= f.datetime_select :sampled_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @voltage %> |
<%= link_to 'Back', voltages_path %>